<div class="card mt-3">
    <div class="card-header">Paiement</div>

    <div class="card-body">
        <form #checkoutForm="ngForm">
            <div class="mb-2">
                <label class="form-label" for="field-name">Nom</label>
                <input id="field-name" name="name" class="form-control" ngModel #nameModel="ngModel" required />
                <span class="invalid-feedback" *ngIf="nameModel.touched && nameModel.invalid">Champ obligatoire</span>
            </div>

            <div class="mb-2">
                <label class="form-label" for="field-address">Adresse</label>
                <textarea id="field-address" name="address" class="form-control" ngModel #addressModel="ngModel" required></textarea>
                <span class="invalid-feedback" *ngIf="addressModel.touched && addressModel.invalid">Champ obligatoire</span>
            </div>

            <div class="mb-2">
                <label class="form-label" for="field-creditCard">Carte de crédit</label>
                <input id="field-creditCard" name="creditCard" class="form-control" ngModel #creditCardModel="ngModel" required pattern="^[0-9]{3}-[0-9]{3}$" />
                <span class="invalid-feedback" *ngIf="creditCardModel.touched && creditCardModel.invalid && creditCardModel.errors?.required">Champ obligatoire</span>
                <span class="invalid-feedback" *ngIf="creditCardModel.touched && creditCardModel.invalid && creditCardModel.errors?.pattern">Numéro invalide (exemple : 123-456)</span>
            </div>

            <div class="mt-3">
                <button type="submit" class="btn btn-success" [disabled]="checkoutForm.invalid">Valider</button>
            </div>
        </form>
    </div>
</div>
